<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div id="homeMenu">
            <h2 id="homeTitle">Selecione uma opção</h2>
            <div id="menuButtons">
                <a href="{{ url_for('add_card_page') }}" class="menuButton">
                    Adicionar Cartão
                </a>

                <a href="{{ url_for('edit_card_page') }}" class="menuButton">
                    Editar Cartões
                </a>

                <a href="{{ url_for('edit_email_page') }}" class="menuButton">
                    Editar E-mails
                </a>

                <a href="{{ url_for('send_email_page') }}" class="menuButton">
                    Enviar E-mail
                </a>
                <form action="{{ url_for('logout') }}" method="post">
                    <button type="submit" class="menuButton">
                        Deslogar
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>